 <button class="buttonsize" (click)="goToCart()"><i class="fa fa-cart-plus"></i><i *ngIf="cartCount">{{cartCount}}</i></button>
 
<div class="grid-container" *ngIf="productList">
    <div class="grid-item" *ngFor="let item of products">
        <p>{{item.Name}}</p>
        <div class="card">
            <img src={{item.Image}} alt="Denim Jeans" style="width:50%">
            <h4>{{item.Name}}</h4>
            <h5><del>{{item.BasePrice | currency:'USD'}}</del> Offer Price: {{item.DiscountPrice | currency:'USD'}}</h5>
            <h5 (click)="gotoDetails(item)">more<i class="fa fa-angle-double-down"></i></h5>
            <p><button (click)="addToCart(item)">Add to Cart</button><button (click)="removeFromCart(item)">Remove From Cart</button></p>
        </div>
    </div>
    
  </div>

 



